body {
    margin: 0 auto;
    padding: 0 auto;
    
}
ul,li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div,input,li,textarea {
    box-sizing: border-box;
}
/*--------------共用组件--------------*/
/* 浮动 */
.floatLeft {
    float: left;
}
/* 解决子元素浮动致使父元素高度为0 */
#all::after,
#course-days>ul::after,
#main,
.finall-days>ul::after,
.finall-main::after,
#none-course::after {
    content: '';
    display: table;
    clear: both;
}

/* 整体 */
#all_input {
    position: absolute;
    z-index: 10000;
    width: 1240px;
    height: 650px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 0;      /* 消除设置line-block后产生的间隙 */
    background: url('../images/18042.jpg') no-repeat;
    background-size: 100% 100%;
    -moz-background-size:100% 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    transition: all 1s;
}

/*--------------左边姓名处--------------*/
#left {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 100%;
    
}
.left-wrap {
    position: absolute;
    width: 100%;
    height: 30%;
    top: 200px;
}
.left-name,
.delete-name,
.new-member,
.compete {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255,0.9);
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255,255,255,0.5);
    color: #376792;
}
.delete-name:hover {
    cursor: pointer;
    background-color: #fd7575;
    color: #fff;
}
.new-member:hover,
.compete:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,0.7);
}


/*--------------中间表格处--------------*/
#form {
    position: relative;
    display: inline-block;
    width: 66%;
    height: 100%;
    font-size: 18px;
}
.form-content,
.introduce {
    position: absolute;
    width: 800px;
    height: 630px;
    border-radius: 5px;
    background-color:rgba(255,255,255,0.5);
}
.form-current {
    top: 10px;
    transition: all 1s;
}
.form-hide {
    top: -630px;
    transition: all 1s;
}
/* 介绍 */
.author {
    width: 100%;
    height: 15%;
    text-align: centet;
}
.author-content {
    text-align: center;
    padding-top: 50px;
    color: #376792;
    font-size: 20px;
}
.introduce-img {
    width: 100%;
    height: 85%;
    padding-left: 20px;
    padding-top: 10px;
}
.introduce-img img {
    width: 760px;
    height: 500px;
}
/* 星期几 */
/* 第几节 */
.course-day,
.course-section {
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
}
.course-day,
.course-section,
.course-num {
    display: block;
    width: 100px;
    height: 90px;
    text-align: center;
}
#course-sections {
    float: left;
    width: 100px;
}
/* 课程表格 */
.course-form {
    float: left;
    height: 540px;
    width: 700px;
}
.course-num input {
    font-size: 18px;
    font-weight: 100;
}
.course-star,
.course-end {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 10px 7px;
    text-align: center;
    background: none;
    border: .1px solid rgba(0,0,0,.2);
}
.star-end {
    width: 10px;
    height: 20px;
    line-height: 20px;
    margin: 15px 0;
    text-align: center;
}
.course-else {
    display: block;
    margin: 0 auto;
    width: 92%;
    height: 30px;
    background: none;
    text-align: center;
    border: .1px solid rgba(0,0,0,.2);
}
.week {
    float: left;
}

/* 表格分割线 */
.course-day,
.course-section,
.course-num,
.once-li,
.finall-day,
.finall-section {
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.finall-section {
    border-left: 1px solid rgba(0,0,0,.2);
}
.finall-day {
    border-top: 1px solid rgba(0,0,0,.2);
}
.finall-day:first-child {
    color: #fd7575;
    border-left: 1px solid rgba(0,0,0,.2);
}


/*--------------右边导航处--------------*/
#right {
    position: relative;
    display: inline-block;
    width: 17%;
    height: 100%;
}
.right-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav {
    width: 100%;
    height: 75%;
    
}
.finall {
    width: 100%;
    height: 25%;
}
.new-member,
.compete {
    
    width: 130px;
}
.finall-wrap {
    position: absolute;
    width: 100%;
}


/* 空课表样式 */
#none-course {
    position: absolute;
    z-index: 100;
    width: 100%;
    opacity: 0;
    display: none;
    transition: all 1s;
}
.fianll-table-wrap {
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}
.fianll-table {
    width: 100%;
    margin-top: 20px;
}
.finall-days,
.finall-main {
    width: 100%;
}
.finall-day {
    display: block;
    width: 12.5%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
}
.finall-sections {
    width: 12.5%;
}
.finall-section {
    display: block;
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    font-weight: bold;
    font-size: 20px;
}
.once-form {
    width: 87.5%;
    height: 540px;
}
.once-ul {
    width: 14.286%;
    float: left;
}
.once-li {
    display: block;
    width: 100%;
    height: 90px;
}
.once-tex {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    resize:none;
}